* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', Helvetica;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(doodle.jpg);
    background-size: cover;
    color: #000000;
    transition: 0.75s;
}

header {
    margin-top: px;
    margin-bottom: px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-image: url(doodle.jpg);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
    opacity: 0.8;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: #868686;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-weight: 600;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    opacity: 0.8;
}

nav a:hover,
nav a.active {
    color: #ffffff;
    border-bottom: 3px solid #000000;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #000000;
        border-bottom: 3px solid #000000;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #ffffff;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #000000;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #161616;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #ffffff;
}

span {
    color: #ffffff;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #ffffff;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: absolute;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #000000;
    cursor: pointer;
    transition: 0.2s linear;
    top: 27.5%;
    left: 21.8%;
    opacity: 0.9;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.home-img1 {
    border-radius: 50%;
}

.home-img1 img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #2e2e2e;
    cursor: pointer;
    transition: 0.2s linear;
    right: 44%;
}

.home-img1 img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "QCU Student";
    color: #ffffff;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: #161616;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #ffffff;
    right: -8;
}

section[class=content] {
    padding: 20px;
    background-color: #ffffff;
    opacity: 1;
}


.text-box {
    gap: 20px;
    padding: 30px;
    padding-bottom: 5%;
    background-color: #2e2e2e;
    opacity: 1;
}

.text-box h1 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 47%;
    padding: 20px;
    background-color: #161616;
    border-radius: 25px;
    position: absolute;
    text-align: center;
}

button {
    position: relative;
    background-color: #ffffff;
    border-radius: 50px;
    font-size: 20px;
    color: #161616;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
}

button:hover {
    transition-duration: 0.1s;
    background-color: #ffffff;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

button:active {
    top: 1px;
}

.hidden {
    display: none;
}

#container .p1 {
    margin-top: 30px;
    margin-right: 550px;
    margin-left: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-color: #161616;
    border-radius: 50px;
    line-height: 2em;
    font-size: 18px;
    text-align: center;
    animation-delay: 3s;
    animation-duration: 3s;
}

.text-box .p1 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container img[src="kiddo.jpg"] {
    max-width: 22%;
    position: absolute;
    border-color: #161616;
    border: 30px;
    right: 100px;
    top: 132%;
    border-radius: 50px;
}

#container img[src="flyff.png"] {
    max-width: 25%;
    position: absolute;
    border-color: #161616;
    border: 30px;
    right: 70px;
    top: 187%;
    border-radius: 50px;
}

#container video {
    margin-top: 50px;
    margin-left: 20%;
    border-radius: 20px;
    width: 60%;
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.content h1:nth-child(2) {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.my-gallery h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 41%;
    margin-top: 30px;
    padding: 20px;
    background-color: #161616;
    border-radius: 25px;
    position: absolute;
    text-align: center;
}

.my-gallery h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.my-gallery h2:nth-child(2) {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.my-gallery {
    margin-top: 2rem;
    text-align: center;
}

.my-gallery div {
    columns: 3;
    gap: 1.25rem;
    padding-top: 1.25rem;
}

.my-gallery img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}

@media (max-width:48rem) {
    .my-gallery>div {
        columns: 2;
    }
}

@media (max-width:32rem) {
    .my-gallery>div {
        columns: 1;
    }
}

.line-break {
    padding: 100px;
}

#home {
    padding: 30px;
    background-color: #ffffff;
    opacity: 0.8;
}


.footerBox {
    width: 100%;
    padding: 40px 30px 20px;
    background-color: black;
    opacity: 0.7;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a button {
    text-decoration: none;
    padding: 15px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a button {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a button:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a button:hover {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.7em;
    opacity: 0.7;
    transition: 0.5s;
    font-weight: bold;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #2e2e2e;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    font-size: 1.1em;
}
